<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{% block page_title %}{% endblock %}</title>

        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="author" content="{% block meta_author %}{% endblock %}" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
        <link href='http://fonts.googleapis.com/css?family=Play:700' rel='stylesheet' type='text/css'>
        {% block css %}{% endblock %}

        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
    </head>

    <body> <!--class="{% block body_class %}{% endblock %}">-->

    <header>
        <div id="header-container">
        <h1><div id="gradient">Positively Web</div></h1>


    <nav>
        <ul id="menu">
            <li><a href="#">About</a></li>
            <li><a href="#" class="drop">Search Products</a>
                <div class="dropdown_5columns">
                    {% for cat in category_list %}
                    {% if not cat.parent  %}
                    <div class="col_1">
                        <h2>{{ cat.name }}</h2>
                            <div id="subitem">
                                {% for sub in subcategory_list %}
                                    {% if sub.parent.id == cat.id %}
                                        <a href="/store/{{ sub.slug }}/C{{ sub.id }}">
                                        {{ sub.name }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li><a href="#" class="drop">My Account</a></li>
            <li><a href="#" class="drop">Contact</a></li>
        </ul>
    </nav>
    <button type="button" name="" value="" class="yourcart">Cart (0 Items)</button>
    </div>
    </header>

    <div id="page-container">
        <div id="header-banner">
            <img src="{% static "img/header.jpg" %}" />
            <h2><span>Everything Technology.</span><p>
                <span>All in One Site.</span></p>
            </h2>
        </div>
    <!--<section class="vlist">

        <ul>
            <h1> Categories </h1>
            {% for c in catalog_categories %}
            <li><a href="/store/products">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
    </section>-->



    {% block body %}
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div id="content-container">
        {% block content %}
        {% endblock content %}
          </div>


        {% block javascript_library %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{{ STATIC_URL }}js/plugins.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>
        {% endblock javascript_library %}
        {% block javascript %}
        {% endblock javascript %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    {% endblock body %}
    </div>

    </body>

</html>
