{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}
    <!-- Add your site or application content here -->
    <div class="featured-categories-container">
    {% for c in category_list %}
        {% if c.is_featured %}
            <div class="featured-category">
                <h1>{{c.name}}</h1>
                <img src="{{ MEDIA_URL }}{{ c.photo }}" />
            </div>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}
