{% extends "base.html" %}
{% load i18n %}
{% block body_class %}{{ block.super }} home{% endblock %}

{% block content %}
<h1>Products</h1>
    {{ request.GET.q }}
    <table border=1>
        <tr class="table-header">
            <td>Part Number</td><td>Description</td><td>Manufacturer</td>
        </tr>
    {% for p in product_list %}
        <tr class="table-item">
            <td><a href="{{p.id}}/{{p.slug}}">{{ p.part_number }}</a></td>
            <td>{{ p.description }}</td>
            <td><a href="?manufacturer={{p.manufacturer.name}}">{{p.manufacturer.name}}</td>
        </tr>
    {% endfor %}
    </table>
{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endif %}


{% endblock %}
